
<script>
    import { Doughnut } from 'vue-chartjs'

    export default {

        extends: Doughnut,
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.renderChart({
                labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
                datasets: [
                    {
                        label: 'Data One',
                        backgroundColor: [
                            '#143233',
                            '#354334',
                            '#154339',
                            '#353300',
                            '#354388',
                            '#392134'],
                        data: [40, 39, 10, 40, 39, 80, 40]
                    }
                ]
            }, {responsive: true, maintainAspectRatio: false})
        },

    }
</script>

<style>

</style>