html, body {height:100%;}


.home {
    min-height: 75vh;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}
.container-home {
    max-width: 80%;
}
a.fill-div {
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.footer {
    position:absolute;
    bottom:0;
    width:100%;
}
