
<template>
    <nav class="text-center" v-if="!client">

        <a v-if="pagination.prevPageUrl" class="btn btn-warning pagination-previous" @click="$emit('prev');">
            Anterior
        </a>
        <a class="btn btn-warning pagination-previous" v-else :disabled="true">
            Anterior
        </a>
        <span class="page-stats">{{pagination.from}} - {{pagination.to}} de {{pagination.total}}</span>
        <a v-if="pagination.nextPageUrl" class="btn btn-info pagination-next" @click="$emit('next');">
            Proxima
        </a>
        <a class="btn btn-info pagination-next" v-else :disabled="true">
            Proxima
        </a>
    </nav>

    <nav class="text-center" v-else>

        <a v-if="pagination.prevPage" class="btn btn-warning pagination-previous" @click="$emit('prev');">
            Anterior
        </a>
        <a class="btn btn-warning pagination-previous" v-else :disabled="true">
            Anterior
        </a>
        <span class="page-stats">
            {{pagination.from}} - {{pagination.to}} de {{filtered.length}}
            <span v-if="filtered.length < pagination.total">(filtrado de {{pagination.total}} entradas do total)</span>
        </span>
        <a v-if="pagination.nextPage" class="btn btn-info pagination-next" @click="$emit('next');">
            Proxima
        </a>
        <a class="btn btn-info pagination-next" v-else :disabled="true">
            Proxima
        </a>
    </nav>
</template>

<script>
    export default {
        props: ['pagination', 'client', 'filtered']
    }
</script>