<template>
    <div class="navbar-header"><a id="toggle-btn" href="#" v-on:click="swap()" class="menu-btn">
        <i class="fa fa-bars"> </i></a>
        <a href="/home" class="navbar-brand">
            <div class="brand-text d-none d-md-inline-block">
                <span> </span>
                <strong class="text-primary">DEMANDAI</strong>
            </div>
        </a>
    </div>
</template>

<script>
    export default {
        methods: {
            swap() {
                    if ($(window).outerWidth() > 1194) {
                        $('nav.side-navbar').toggleClass('shrink');
                        $('.page').toggleClass('active');
                    } else {
                        $('nav.side-navbar').toggleClass('show-sm');
                        $('.page').toggleClass('active-sm');
                    }
            }

        }
    }
</script>
