<template>
    <div id="corpo">
        <div v-if="show === 0 ">
            <div  class="col-sm-10 container">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" placeholder="Encontre um de nossos Serviços, Laboratórios ou Equipamentos!" class="form-control">
                        <div class="input-group-append">

                            <button type="button" class="btn btn-primary"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><i class="fa fa-search"></i></font></font></button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="col-lg-10 col-md-10 container">
                <div class="table-responsive ">
                    <table class="table table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th scope="col">Serviços</th>
                            <th scope="col">Laboratórios</th>
                            <th scope="col">Equipamentos</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="dado in dados">
                            <td ><a href="#" @click="details(1,dado.ser_id)">{{ dado.servico }}</a></td>
                            <td ><a href="#" @click="details(2,dado.lab_id)">{{ dado.laboratorio }}</a></td>
                            <td ><a href="#" @click="details(3,dado.equi_id)">{{ dado.equipamento }}</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="form-group text-center">
                <a href="demandai/create"  class="btn btn-primary">Demandar</a>
            </div>
        </div>
        <div v-if="show === 1">
            <div class="logo text-uppercase text-center icon text-primary"><i class="fa fa-cogs"></i><strong class="text-primary text-bold"><h1>{{ servicos.nome }}</h1></strong></div>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-servico-tab" data-toggle="tab" href="#nav-servico" role="tab" aria-controls="nav-servico" aria-selected="true">Dados do Serviço</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" id="nav-desenvolvedores-tab" data-toggle="tab" href="#nav-desenvolvedores" role="tab" aria-controls="nav-desenvolvedores" aria-selected="false">Desenvolvedores</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" id="nav-departamentos-tab" data-toggle="tab" href="#nav-departamentos" role="tab" aria-controls="nav-departamentos" aria-selected="false">Departamentos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content" id="nav-tabContentServico">
                    <div class="tab-pane fade show active" id="nav-servico" role="tabpanel" aria-labelledby="nav-servico-tab">
                        <p class="font-weight-bolder">Descrição: <span class="font-weight-normal">{{ servicos.descricao }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Plataformas de desenvolvimento: <span class="font-weight-normal">{{ servicos.plataformas }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Localização: <span class="font-weight-normal">{{ servicos.instituicao }}</span></p>
                    </div>
                    <div class="tab-pane fade" id="nav-desenvolvedores" role="tabpanel" aria-labelledby="nav-desenvolvedores-tab">
                        <ul v-if="servicos.desenvolvedores">
                            <li v-for="dese in servicos.desenvolvedores">{{dese}}</li>
                        </ul>
                        <p v-else>Não existe nenhum desenvolvedor para este serviço!</p>
                    </div>
                    <div class="tab-pane fade" id="nav-departamentos" role="tabpanel" aria-labelledby="nav-departamentos-tab">
                        <ul v-if="servicos.departamentos">
                            <li v-for="depar in servicos.departamentos">{{depar}}</li>
                        </ul>
                        <p v-else>Não existe nenhum departamento para este serviço!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-lg-3 col-sm-2">
                    <button @click="details(0)" class="btn btn-light text-danger"><i class="fa fa-angle-left"></i> Voltar</button>
                </div>
                <div class="form-group text-center col-md-6 col-lg-6 col-sm-8">
                    <a :href="'/demandai/create/ser/'+servicos.id+'/'+servicos.nome" class="btn btn-primary">Demandar deste serviço <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div v-if="show === 2">
            <div class="logo text-uppercase text-center icon text-primary"><i class="fa fa-tag"></i><strong class="text-primary text-bold"><h1>{{ laboratorios.nome }}</h1></strong></div>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-laboratorio-tab" data-toggle="tab" href="#nav-laboratorio" role="tab" aria-controls="nav-laboratorio" aria-selected="true">Dados do Laboratório</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" id="nav-servidores-tab" data-toggle="tab" href="#nav-servidores" role="tab" aria-controls="nav-servidores" aria-selected="false">Servidores</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" id="nav-departamentoslab-tab" data-toggle="tab" href="#nav-departamentoslab" role="tab" aria-controls="nav-departamentoslab" aria-selected="false">Departamentos</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" id="nav-cursos-tab" data-toggle="tab" href="#nav-cursos" role="tab" aria-controls="nav-cursos" aria-selected="false">Cursos</a>
                        </li>
                        <li class="nav-item">
                            <a class=" nav-link" id="nav-equipamentos-tab" data-toggle="tab" href="#nav-equipamentos" role="tab" aria-controls="nav-equipamentos" aria-selected="false">Equipamentos</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content" id="nav-tabContentLaboratorio">
                    <div class="tab-pane fade show active" id="nav-laboratorio" role="tabpanel" aria-labelledby="nav-laboratorio-tab">
                        <p class="font-weight-bolder">Responsável: <span class="font-weight-normal">{{ laboratorios.coordenador.nome }}</span></p>
                        <p class="font-weight-bolder">E-mail: <span class="font-weight-normal">{{ laboratorios.coordenador.email }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Descrição: <span class="font-weight-normal">{{ laboratorios.descricao }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Atividades Realizadas: <span class="font-weight-normal">{{ laboratorios.atividades_realizadas }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Pesquisa e/ou Extensão: <span class="font-weight-normal">{{ laboratorios.pesquisa_extensao ? 'Sim' : 'Não' }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Localização: <span class="font-weight-normal">{{ laboratorios.instituicao }}</span></p>
                    </div>
                    <div class="tab-pane fade" id="nav-servidores" role="tabpanel" aria-labelledby="nav-servidores-tab">
                        <ul v-if="laboratorios.servidores">
                            <li v-for="dese in laboratorios.servidores">{{dese}}</li>
                        </ul>
                        <p v-else>Não existe nenhum desenvolvedor para este serviço!</p>
                    </div>
                    <div class="tab-pane fade" id="nav-departamentoslab" role="tabpanel" aria-labelledby="nav-departamentoslab-tab">
                        <ul v-if="laboratorios.departamentos">
                            <li v-for="depar in laboratorios.departamentos">{{depar}}</li>
                        </ul>
                        <p v-else>Não existe nenhum departamento para este laboratório!</p>
                    </div>
                    <div class="tab-pane fade" id="nav-cursos" role="tabpanel" aria-labelledby="nav-cursos-tab">
                        <ul v-if="laboratorios.cursos">
                            <li v-for="depar in laboratorios.cursos">{{depar}}</li>
                        </ul>
                        <p v-else>Não existe nenhum curso para este laboratório!</p>
                    </div>
                    <div class="tab-pane fade" id="nav-equipamentos" role="tabpanel" aria-labelledby="nav-equipamentos-tab">
                        <ul v-if="laboratorios.equipamentos">
                            <li v-for="depar in laboratorios.equipamentos">{{depar.nome}}</li>
                        </ul>
                        <p v-else>Não existe nenhum equipamento para este laboratório!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-lg-3 col-sm-2">
                    <button @click="details(0)" class="btn btn-light text-danger"><i class="fa fa-angle-left"></i> Voltar</button>
                </div>
                <div class="form-group text-center col-md-6 col-lg-6 col-sm-8">
                    <a :href="'/demandai/create/lab/'+laboratorios.id+'/'+laboratorios.nome" class="btn btn-primary">Demandar deste laboratório <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
        <div v-if="show === 3">
            <div class="logo text-uppercase text-center icon text-primary"><i class="fa fa-desktop"></i><strong class="text-primary text-bold"><h1>{{ equipamentos.nome }}</h1></strong></div>
            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="nav-equipamento-tab" data-toggle="tab" href="#nav-equipamento" role="tab" aria-controls="nav-equipamento" aria-selected="true">Dados do Equipamento</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content" id="nav-tabContentEquipamentos">
                    <div class="tab-pane fade show active" id="nav-equipamento" role="tabpanel" aria-labelledby="nav-laboratorio-tab">
                        <p class="font-weight-bolder">Responsável: <span class="font-weight-normal">{{ equipamentos.coordenador.nome }}</span></p>
                        <p class="font-weight-bolder">E-mail: <span class="font-weight-normal">{{ equipamentos.coordenador.email }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Descrição: <span class="font-weight-normal">{{ equipamentos.descricao }}</span></p>
                        <br>
                        <p class="font-weight-bolder">Laboratório:
                            <span class="font-weight-normal">
                                <a href='#' v-if="equipamentos.laboratorio != null" @click="details(2,equipamentos.laboratorio.id)">{{ equipamentos.laboratorio.nome }}</a>
                                <span class="badge badge-pill badge-info " v-else>Equipamento independente, sem necessidade de laboratório!</span>
                            </span>
                        </p>
                        <br>
                        <p class="font-weight-bolder">Localização: <span class="font-weight-normal">{{ equipamentos.instituicao }}</span></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-3 col-lg-3 col-sm-2">
                    <button @click="details(0)" class="btn btn-light text-danger"><i class="fa fa-angle-left"></i> Voltar</button>
                </div>
                <div class="form-group text-center col-md-6 col-lg-6 col-sm-8">
                    <a :href="'/demandai/create/equ/'+equipamentos.id+'/'+equipamentos.nome" class="btn btn-primary">Demandar deste equipamento <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                dados: {
                   laboratorio: '',
                    lab_id: '',
                    equi_id: '',
                    equipamento: '',
                    ser_id: '',
                    servico: '',
                },
                show: 0,
                laboratorios: {
                    id: '',
                    coordenador: {
                        nome: '',
                        email: '',
                    },
                    telefone: '',
                    descricao: '',
                    nome: '',
                    atividades_realizadas: '',
                    pesquisa_extensao: '',
                    instituicao: '',
                    endereco_sala: '',
                    servidores: [],
                    departamentos: [],
                    cursos: [],
                    equipamentos: {
                        nome: '',
                        descricao: ''
                    },
                },
                servicos: {
                    id: '',
                    coordenador: {
                        nome: '',
                        email: '',
                    },
                    descricao: '',
                    nome: '',
                    plataformas: '',
                    instituicao: '',
                    departamentos: [],
                    desenvolvedores: [],
                },
                equipamentos: {
                    id: '',
                    coordenador: {
                        nome: '',
                        email: '',
                    },
                    descricao: '',
                    nome: '',
                    instituicao: '',
                    laboratorio: {
                        nome: '',
                        id: '',
                    },
                },
                URLRAIZ: window.location.origin + window.location.pathname,

            };
        },
        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },

        methods: {
            prepareComponent(){
                axios.get('/api/demandai/getLaboratoriosEquipamentosServicos')
                    .then(response => {
                        this.dados = response.data;
                    });

            },
            details(type, id){
                // 0 - Home, 1 - Servicos, 2 - Laboratorio, 3 - Equipamentos
                this.show = type;
                switch (type) {
                    case 1:
                        this.detailsSer(id);
                        break;
                    case 2:
                        this.detailsLab(id);
                        break;
                    case 3:
                        this.detailsEqui(id);
                        break;
                }
            },
            detailsLab(id){
                axios.get('/api/demandai/getDetailsLab/'+id)
                    .then(response => {
                        this.laboratorios = response.data;
                    });
            },
            detailsEqui(id){
                axios.get('/api/demandai/getDetailsEqui/'+id)
                    .then(response => {
                        this.equipamentos = response.data;
                    });
            },
            detailsSer(id){
                axios.get('/api/demandai/getDetailsSer/'+id)
                    .then(response => {
                        this.servicos = response.data;
                    });
            }
        }
    }
</script>
