<template>
    <div class="row">
        <div class="form-group col-md-4 col-lg-4 col-sm-4">
            <label>Demandar por: </label>
            <div class="form-group row has-success">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select v-model="selected_action" @change="getDados(selected_action)" name="action" class="custom-select" required >
                            <option v-for="seac in dados_action" :value="seac.value" :selected="seac.sele">{{ seac.name }}</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-md-6 col-lg-6 col-sm-6" v-show="dados">
            <label>Onde demandar?</label>
            <div class="form-group row has-success">
                <div class="col-sm-12">
                    <div class="form-group">
                        <select v-model="selected" class="custom-select" name="action_id" required>
                            <option v-for="dado in dados" :value="dado.id">{{ dado.nome }}</option>
                        </select>
                        <div class="invalid-feedback">Example invalid custom select feedback</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                selected_action: 'ser',
                selected: '',
                dados: {
                    nome: '',
                    id: '',
                },
                dados_action: [
                    { name: 'Serviço', value: 'ser'},
                    { name: 'Laboratório', value: 'lab'},
                    { name: 'Equipamento', value: 'equ'}
                ],
            }
        },
        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.prepareComponent();
        },
        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.prepareComponent();
        },
        methods: {
            prepareComponent(){
                if($('#action').val()){
                    this.selected_action = $('#action').val();
                    this.getDados(this.selected_action,$('#action_id').val());
                }else{
                    this.getDados(this.selected_action);
                }
            },
            getDados(type, id = null){
                switch (type) {
                    case 'ser':
                        axios.get('/api/demandai/getServicos')
                            .then(response => {
                                this.dados = response.data;
                                if(id != null){
                                    this.selected = id;
                                }else{
                                    this.selected = response.data[0].id;
                                }
                            });
                        break;
                    case 'lab':
                        axios.get('/api/demandai/getLaboratorios')
                            .then(response => {
                                this.dados = response.data;
                                if(id != null){
                                    this.selected = id;
                                }else{
                                    this.selected = response.data[0].id;
                                }
                            });
                        break;
                    case 'equ':
                        axios.get('/api/demandai/getEquipamentos')
                            .then(response => {
                                this.dados = response.data;
                                if(id != null){
                                    this.selected = id;
                                }else{
                                    this.selected = response.data[0].id;
                                }
                            });
                        break;
                }

            }
        }
    }
</script>
